body{
    background: #f3f4f5;
}
.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap:2.5rem;
    margin-top:100px;
    margin:20px 0;
}

header{
    width:100%!important;
    overflow-x: hidden;
}
/* .country{
    display: flex!important;

}
.country .col{
    display: flex!important;
    flex:3!important;
} */
.flag{
    width:100px;
    height:60px;
    border:1px solid black;
}
.search-form{
    display: flex;
    width:400px;
    position:absolute;
    top:1.8rem;
    right:100px;
}
.search-form input{
    width:350px;
    border-radius: 5px;
    padding:5px;
}
.btn-search{
    margin-left:5px;
}
.global-card{
    margin-bottom:1rem;
    width:400px;
    margin-left:1rem;
    border: 1px solid rgb(136, 133, 133);
    border-radius: 5px;
}
@media(max-width :992px){
    .main{
        grid-template-columns: repeat(2,395px);
    }
    .search-form{
        top:6rem;
        left:25%;
        transition: translate(-50%,0);
        right:0;
        width:100%;
       
    
    }
    header h2{
        text-align: center;
    }
}
@media(min-width :768px){

}
@media(max-width :768px){
    .main{
        grid-template-columns: repeat(1,395px);
    }
    .container-fluid{
        padding:20px 0!important;
    }
    .search-form{
        left:20%;      
    }
    
}
@media(max-width :600px){
   
    .search-form{
        left:10%;      
    }
    
}


 /* 576px;
 768px;
  992px;
  1200px; */
